<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="https://www.kieftsoftwareengineering.nl/assets/css/style.css">
  <link rel="stylesheet" href="https://www.kieftsoftwareengineering.nl/assets/css/fonts.css">
  <link rel="stylesheet" href="https://www.kieftsoftwareengineering.nl/assets/libs/font-awesome/css/all.css">
</head>

<body>
  <div class="wrapper">
    <div class="content">
      <div class="container">
        <div class="menu">
          <ul>
            <li>Home</li>
            <li class="active">Blog</li>
          </ul>
        </div>
        <div class="row">
          {{ content }}
        </div>
      </div>
    </div>
</body>

</html>
