img {
    width: 100%;
}

.highlight pre, .highlight code {
  white-space: pre-wrap;    
  word-wrap: break-word;       
  overflow-wrap: anywhere;     
}

.highlighter{
    
}

.highlight {
    background-color: #161616; 
    padding: 10px;          
    border-radius: 5px;
    margin-bottom: 20px;       
}

.highlight pre {
    margin: 0 !important;      
    padding: 0 !important;    
    line-height: 1.5;       
}